.header {
    &__body {
        background-color: #3e822b;
        width: 100%;
        margin: 0 0 20px 0;
    }
    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-height: 155px;
        align-items: center;
    }
    &__logo {
    }
    &__menu {
    }
    &__info {
    }
    &__button {
    }
    &__search {
        font-size: 1.2rem;
        color: #ffffff;
        font-weight: 500;
        cursor: pointer;
    }
}
